# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Data & Pipeline Artifacts
data/*
!data/raw/
data/raw/*
!data/raw/train_sample_10k.csv
!data/raw/test_sample_5k.csv
artifacts/
pipeline/artifacts/*
!pipeline/artifacts/.gitkeep
sub.csv
pipeline/sub.csv
*.parquet
*.zip
*.tar.gz
*.npy
*.pkl
*.jsonl

# Environment variables & secrets
.env
*.json
!mcp_config.json
!hooks.json
